---
import Card from '../../components/Card.astro'
import Layout from '../../layouts/Layout.astro'
import '../../styles/global.css'

const servicios = [
  {
    titulo: 'Mantenimiento de Hardware',
    ruta: '/services/hardware',
    imagen: '/images/hardware.jpg',
    descripcion:
      'Servicio completo de limpieza y optimización de componentes físicos.',
  },
  {
    titulo: 'Mantenimiento de Software',
    ruta: '/services/software',
    imagen: '/images/software.jpg',
    descripcion:
      'Actualización y optimización de sistemas operativos y aplicaciones.',
  },
  {
    titulo: 'Optimización del Sistema',
    ruta: '/services/optimizacion',
    imagen: '/images/optimizacion.jpg',
    descripcion: 'Mejora del rendimiento general de tu equipo.',
  },
  {
    titulo: 'Seguridad Informática',
    ruta: '/services/seguridad',
    imagen: '/images/seguridad.jpg',
    descripcion:
      'Protección contra amenazas y configuración de medidas de seguridad.',
  },
  {
    titulo: 'Recuperación de Datos',
    ruta: '/services/recuperacion',
    imagen: '/images/recuperacion.jpg',
    descripcion: 'Rescate de información perdida o dañada.',
  },
  {
    titulo: 'Asesoría Técnica',
    ruta: '/services/asesoria',
    imagen: '/images/asesoria.jpg',
    descripcion: 'Consultoría personalizada para tus necesidades tecnológicas.',
  },
]
---

<Layout title='Servicios - TecnoMantén'>
  <main>
    <h1>Nuestros <span class='text-gradient'>Servicios</span></h1>
    <p class='instrucciones'>
      En TecnoMantén ofrecemos una amplia gama de servicios para mantener tu
      equipo en óptimas condiciones. Descubre cómo podemos ayudarte a mejorar el
      rendimiento y la seguridad de tu tecnología.
    </p>
    <div class='servicios-grid'>
      {
        servicios.map((servicio) => (
          <Card
            href={servicio.ruta}
            title={servicio.titulo}
            body={servicio.descripcion}
            imagen={servicio.imagen}
          />
        ))
      }
    </div>
  </main>
</Layout>
