---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'

const herramientas = [
  {
    nombre: 'CCleaner',
    descripcion: 'Limpieza y optimización del sistema',
    enlace: 'https://www.ccleaner.com/',
    imagen: 'images/herramientas/ccleaner.svg',
  },
  {
    nombre: 'Malwarebytes',
    descripcion: 'Protección contra malware',
    enlace: 'https://www.malwarebytes.com/',
    imagen: 'images/herramientas/malwarebytes.svg',
  },
  {
    nombre: 'CPU-Z',
    descripcion: 'Información detallada del hardware',
    enlace: 'https://www.cpuid.com/softwares/cpu-z.html',
    imagen: 'images/herramientas/CPU-Z.svg',
  },
  {
    nombre: 'Revo Uninstaller',
    descripcion: 'Desinstalación completa de programas',
    enlace: 'https://www.revouninstaller.com/',
    imagen: 'images/herramientas/revouninstaller.svg',
  },
  {
    nombre: 'Speccy',
    descripcion: 'Análisis de componentes del sistema',
    enlace: 'https://www.ccleaner.com/speccy',
    imagen: 'images/herramientas/speccy.svg',
  },
  {
    nombre: 'Autoruns',
    descripcion: 'Gestión de programas de inicio',
    enlace: 'https://docs.microsoft.com/en-us/sysinternals/downloads/autoruns',
    imagen: 'images/herramientas/autoruns.svg',
  },
]
---

<Layout title='Herramientas Recomendadas - TecnoMantén'>
  <main>
    <h1>Herramientas <span class='text-gradient'>Recomendadas</span></h1>
    <p class='instrucciones'>
      Descubre las mejores herramientas para mantener tu equipo en óptimas
      condiciones. Estas aplicaciones te ayudarán a optimizar, limpiar y
      proteger tu sistema.
    </p>
    <div class='servicios-grid'>
      {
        herramientas.map((herramienta) => (
          <Card
            href={herramienta.enlace}
            title={herramienta.nombre}
            body={herramienta.descripcion}
            imagen={herramienta.imagen}
          />
        ))
      }
    </div>
  </main>
</Layout>
