---
import ThemeToggle from './ThemeToggle.astro'
---

<header>
  <nav>
    <ul>
      <li><a href='/'>Inicio</a></li>
      <li><a href='/services/services'>Servicios</a></li>
      <li><a href='/tutoriales'>Tutoriales</a></li>
      <li><a href='/herramientas'>Herramientas</a></li>
      <li><a href='/contacto'>Contáctenos</a></li>
      <li><ThemeToggle /></li>
    </ul>
  </nav>
</header>

<style>
  header {
    background-color: var(--header-bg);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav li {
    margin: 0 1rem;
  }
  nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  nav a:hover {
    color: var(--accent-color);
  }
</style>
